.btnd {
    /* background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px; */
    background-color: DodgerBlue;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
  /* Darker background on mouse-over */
  .btnd:hover {
    background-color: RoyalBlue;
  }